@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$inputtt: #373742;
// dark theme background colors
$bgBlack: #0d0c10;
$bgSecond: #121215;
$bgThird: #1b1b1f;
$bgStroke: #19181d;
$bgGray: #787878;
$bgBlue: linear-gradient(115.31deg, #50e4f8 0%, #00c2ff 100%);
$bgWhite40: rgba(255, 255, 255, 0.4);
$bgGreen: linear-gradient(115.31deg, #74ff79 0%, #60ffbc 100%), #ffffff;
$bgLila: linear-gradient(115.31deg, #e3b4ff 0%, #9476ff 100%), #ffffff;
$bgRed: linear-gradient(115.31deg, #ff8990 0%, #ff607c 100%), #ffffff;
$bgPurple: linear-gradient(115.31deg, #ce7cff 0%, #734bff 100%), linear-gradient(0deg, #121215, #121215);
$bgStrongGreen: linear-gradient(115.31deg, #00ae31 0%, #009355 100%), linear-gradient(0deg, #ffffff, #ffffff);

$bgLight: #f0f2f9;
$font-family: 'Montserrat', sans-serif;
$accent: #ce7cff;
$lightaccent: #e3b4ff;
$neutral: #6f7ead;
$neutralBg: #1b2545;
$placeholder: #4f5b7a;
$unfocusedMenu: #ffffff0f;
$blue: #82d5fd;
$lightBlack: #363636;
$red: #ff3c5d;
$green: #00f88b;
$yellow: #ffde46;
$gray: #787878;
$bgMain: #0d0c10;
$bgLightH: #0d0c10;
$bgLightest: #0d0c10;
$borderDark: 2px solid #19181d;
$borderLight: 2px solid #ededed;
$border-light: 1px solid #19181d;
$borderRadius10: 10px;
$borderRadius5: 5px;
$blueGradient: linear-gradient(135deg, #13f1fc 0%, #0470dc 100%); // Amex
$orangeGradient: linear-gradient(135deg, #f2d50f 0%, #da0641 100%); // Mastercarad
$lightOrangeGradient: linear-gradient(135deg, #fad961 0%, #f76b1c 100%); // Discover
$purpleGradient: linear-gradient(135deg, #ff57b9 0%, #a704fd 100%); // Visa
$darkBlueGradient: linear-gradient(135deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 61, 255, 1) 100%); // Diners
$jcbGradient: linear-gradient(135deg, rgba(0, 149, 64, 1) 0%, rgba(0, 105, 179, 1) 51%, rgba(226, 6, 19, 1) 100%); // JCB

@mixin fontNine {
  font-family: $font-family;
  font-size: 0.563rem;
  font-style: normal;
  font-weight: 700;
  line-height: 11px;
  letter-spacing: 0em;
  text-align: left;
}
@mixin font10 {
  font-family: $font-family;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 12.19px;
  letter-spacing: 0em;
  text-align: left;
}

@mixin font14 {
  font-family: $font-family;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}
@mixin font12 {
  font-family: $font-family;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 14.63px;
  letter-spacing: 0em;
  text-align: left;
}

@mixin flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin flexColumnTop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flexColumnSpaceBetween {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@mixin flexRowCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flexRowTop {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin flexRowSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flexRowSpaceEventually {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: $bgMain;
}

::-webkit-scrollbar-thumb {
  background: $bgPurple;
  border-radius: 20px;
}
